@if (selectedQuestion) {
  
  @if (showResult) {
<div>
  <div class="flex justify-content-between">
    <span class="text-primary font-bold"
      >Qustion {{ selectedQuestionIndex + 1 }} of {{ Question.length }}</span
    >
    <div class="text-green-400 font-bold flex align-items-center">
      <i class="pi pi-stopwatch mx-1"></i>
      {{ formattedTime }}
    </div>
  </div>

  <div class="flex justify-content-between my-4">
    @for (item of Question; track $index ) {
    <div
      [ngClass]="answeredQuestions[$index] ? 'main-bg' : 'bg-black-alpha-10'"
      class="Oval"
    ></div>
    }
  </div>
  <h2 class="font-medium">{{ selectedQuestion.question }}</h2>
  @for (answer of selectedQuestion.answers; track $index) {
  <label
    [ngClass]="changebgInput === answer.key ? 'bg-input' : 'bg-black-alpha-10'"
    class="flex my-3 p-2 border-round"
  >
    <input
      type="radio"
      (click)="getqustion(answer.key, selectedQuestion)"
      name="options"
      [checked]="changebgInput === answer.key"
      [value]="answer.key"
      id="option1"
    />
    <span class="custom-radio mx-2"></span>
    {{ answer.answer }}
  </label>
  }
  <div class="flex justify-content-around">
    <app-button
      [Adisabled]="backdisabled"
      (click)="previousQuestion()"
      [text]="'back'"
      [style]="'width-back m-2'"
      [style_button]="false"
    ></app-button>
    <app-button
      [Adisabled]="isdisabled"
      (click)="nextQuestion()"
      [text]="'next'"
      [style]="'width-back m-2'"
      [style_button]="true"
    ></app-button>
  </div>
</div>

}@else {
<app-show-resulat
  [correctAnswers]="correctAnswers"
  [wrongAnswers]="wrongAnswers"
></app-show-resulat>
} } @else {

<app-not-found-qution></app-not-found-qution>
}
