<div
  class="flex justify-content-start relative align-items-center p-5 mb-5 overflow-hidden"
>
  <div class="">
    <div class="relative">
      <img
        [src]="profileImage || defaultImage"
        alt="Profile Photo"
        class="profile-photo"
      />
      <div class="profile-photo-wrapper">
        <label for="upload" class="upload-label">
          <i class="pi pi-camera"></i>
        </label>
        <input
          type="file"
          id="upload"
          (change)="onFileSelected($event)"
          accept="image/*"
          hidden
        />
      </div>
    </div>
    <div class="show" [ngClass]="selectedFile ? 'show_save ' : 'hide_save'">
      <div>
        <button (click)="saveProfilePhoto()">Save img</button>
        <button class="mx-2 bg-white text-red-600" (click)="NoProfilePhoto()">
          No
        </button>
      </div>
    </div>
  </div>

  <div class="w-8 mx-3">
    <div>
      <h2 class="main-color mb-1">{{ userinformation.username }}</h2>
      <span class="text-sm text-balck-alpha-70">{{
        userinformation.email
      }}</span>
    </div>
    <div class="w-full bg-black-alpha-20 h-1rem mt-2 border-round relative">
      <div class="absolute main-bg h-full w-7 border-round"></div>
    </div>

    <div class="mt-4 flex justify-content-between align-items-center">
      <div class="flex gap-3 justify-content-center align-items-center">
        <i class="fa-solid fa-flag text-3xl main-color"></i>
        <div>
          <span class="font-bold text-2xl">17</span>
          <p class="text-sm text-black-alpha-30">Quiz Passed</p>
        </div>
      </div>
      <div class="flex gap-3 justify-content-center align-items-center">
        <i class="fa-solid fa-check text-3xl main-color"></i>
        <div>
          <span class="font-bold text-2xl">17</span>
          <p class="text-sm text-black-alpha-30">Quiz Passed</p>
        </div>
      </div>
      <div class="flex gap-3 justify-content-center align-items-center">
        <i class="fa-solid fa-flag text-3xl main-color"></i>
        <div>
          <span class="font-bold text-2xl">17</span>
          <p class="text-sm text-black-alpha-30">Quiz Passed</p>
        </div>
      </div>
    </div>
  </div>
</div>
